@font-face {
    font-family: klavika;
    font-weight: bold;
    src: url("klavika-bold.otf") format("opentype");
    src: url("/klavika-bold.otf#iefix") format('embedded-opentype');
}

@font-face {
    font-family: klavika-medium;
    src: url("klavika-medium.otf") format("opentype");
    src: url("/klavika-medium.otf#iefix") format('embedded-opentype');
}

@font-face {
    font-family: klavika-regular;
    src: url("klavika-regular.otf") format("opentype");
    src: url("/klavika-regular.otf#iefix") format('embedded-opentype');
}

h1 {
    text-transform: uppercase !important;
    font-size: 58px !important;
    line-height: 54px !important;
    letter-spacing: -4px !important;
    font-family:klavika !important;
}

h2 {
    font-size: 36px !important;
    line-height: 54 !importantpx;
    letter-spacing: -4p !importantx;
    font-family:klavika-medium !important;
}

html, body, a {
    font-family: klavika-regular !important;
    font-size: 16px !important;
    color: #7D7B7D !important;
}

.side-nav {
    top: 75px;
}