<form id="form100" name="form100" role="form" novalidate>
    <div>
        <div class="form-group" data-ng-class="{ 'has-error': form100.username.$error.required }" style="padding:20px !important;">
            <span style="width:95%">
                <input class="form-control col-md-9" style="width:95%;" placeholder="username" type="text" name="username"
                       data-ng-model="Login.userName" data-ng-required="true" ng-enter="Login()" />
            </span>
            <span data-ng-show="form100.username.$error.required" style="width:1%;float:left !important;">*</span>
        </div>
        <div class="form-group" data-ng-class="{ 'has-error': form100.password.$error.required }" style="padding:20px !important;">
            <span style="width:95%"> <input class="form-control col-md-9" style="width:95%" placeholder="password" name="password" type="password"
       data-ng-model="Login.password" data-ng-required="true" ng-enter="Login()" /></span>
            <span data-ng-show="form100.password.$error.required" style="width:1%;float:left !important;">*</span>
        </div>
        <button class="btn btn-lg btn-default" ng-enter="Login()" data-ng-disabled="form100.$invalid" ng-click="Login()">Login</button>
</div>
    </form>
